$brand: #0ABCFF; //bright blue

$primary: #595959; //grey
$secondary: #FCFCFC; //light grey
$tertiary: #373737; //dark grey

$primaryAccent: #FFB028; //orange
$secondaryAccent: #5A7C87; //dark blue
$tertiaryAccent: #08C265; //green

$backgroundColor: $secondary;
$textColor: $primary;
$headingColor: $brand;

$headingFont: "Sanchez", 'Whitney SSm A', 'Whitney SSm B', 'Signika Negative', 'Montserrat', 'Helvetica Neue', helvetica, arial, sans-serif;
$bodyFont: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', helvetica, arial, sans-serif;
$baseFontSize: 14px;
