@charset "utf-8";

@import "settings";

@import "normalize-scss/normalize";
@import "bourbon";
@import "neat";

// @import "compass";

body {
  background: $backgroundColor;
  color: $textColor;
  font-size: 14px;
  font-weight: 300;
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5 {
  font-family: $bodyFont;
  font-weight: 600;
  line-height: 1.45em;
  letter-spacing: .4rem;
}

h1 { font-size: golden-ratio($baseFontSize, 3); }
h2 { font-size: golden-ratio($baseFontSize, 2); }
h3 { font-size: golden-ratio($baseFontSize, 1); }
h4 { font-size: golden-ratio($baseFontSize, 1); }
h5 { font-size: golden-ratio($baseFontSize, 0); }

p {
  font-family: $bodyFont;
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  // @include outer-container();
}

.splash {
  // background: url("../img/unsplash-kitsune-3.jpg") center center fixed;
  // background-size: cover;
  h1 {
    text-transform: uppercase;
    letter-spacing: 1.2rem;
  }
}

img.logo {
  width: 200px;
  display: block;
  margin: 0 auto;
}

nav {
  @include row();
  text-align: center;
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 1em;
    text-transform: uppercase;
  }
}

section {
  min-height: 100vh;

  &.brand { background-color: $brand;
    h2 { color: $tertiary; }
    p { color: #fff; }
  }

  &.secondary { background-color: $secondary;
    h2 { color: $secondaryAccent; }
    p { color: #FFF; }
  }

  &.tertiary { background-color: $tertiary;
    h2 { color: $brand; }
    p { color: #FFF; }
  }

  &.primaryAccent { background-color: $primaryAccent;
    h2 { color: #FFF; }
  }

  h2 { color: $headingColor; }

  > .container {
    @include outer-container();
    padding: 15vh 20px;
  }
}

form {
  * + * {
    margin-bottom: .4em;
  }
  input, textarea {
    background-color: $brand;
    border-width: 0;
    box-sizing: border-box;
    color: #FFF;
    line-height: 1.2em;
    overflow: auto;
    padding: .4em;
    width: 100%;

    &:focus {
      outline: 0;
      background-color: lighten($brand, 8%);
    }
    @include placeholder {
      color: #FFF;
    }
  }

  input[type=submit] {
    background-color: $primaryAccent;
    padding: 1em;
    &:hover {
      background-color: darken($primaryAccent, 8%);
    }
  }
}

footer {
  @include row();
  p { font-family: $headingFont; font-size: 1rem; text-align: center; }
}
